#Ignore Play! working directory
ui2/bin/
ui2//db
ui2/.eclipse
ui2//lib
ui2//logs/
ui2//modules/
ui2/tmp/
ui2/test-result
ui2/server.pid
ui2//dist/
ui2/.cache

# Ignore activator stuff
ui2/node_modules
ui2/logs
ui2/project
ui2/target/
ui2/tmp
ui2/.history
ui2/dist
ui2/.idea
ui2/*.iml
ui2/out
ui2/.idea_modules
ui2/.classpath
ui2/.project
ui2/RUNNING_PID
ui2/.settings
ui2/project/*-shim.sbt
ui2/*-shim.sbt
ui2/.DS_Store

ui1/.*
# except for .gitignore

ui1/# Ignore Play! working directory #
ui1/db
ui1/eclipse
ui1/log
ui1/logs
ui1/data
ui1/modules
ui1/precompiled
ui1/project/project
ui1/project/target
ui1/target
ui1/tmp
ui1/test-result
ui1/server.pid
ui1/*.iml
ui1/*.eml

# uis-api
uis-api/.classpath
uis-api/.project
uis-api/.settings/
uis-api/target/
